In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read CSV
sus_df = pd.read_csv('/home/wb1115/VSCode_projects/cdss/cdss_1/cdss_1/sus_results/sus.csv')

In [3]:
# Filter 
filtered_sus_df = sus_df.iloc[:, 2:]
# Select columns with even and odd indices
odd_index_columns = filtered_sus_df.iloc[:, ::2]
even_index_columns = filtered_sus_df.iloc[:, 1::2]
# Subtract 1 from odd_index_columns
odd_index_columns = odd_index_columns - 1
# Subtract from 5 for even_index_columns
even_index_columns = 5 - even_index_columns
# Combine
processed_sus_df = even_index_columns.join(odd_index_columns)
# Sum
processed_sus_df['score'] = processed_sus_df.sum(axis=1)*2.5
# Average
print(processed_sus_df['score'].mean())
# Std
print(processed_sus_df['score'].std())

72.0
7.984359711335656

In [4]:
processed_sus_df

   q2  q4  q6  q8  q10  q1  q3  q5  q7  q9  score
0   3   3   4   3    1   3   3   3   2   3   70.0
1   1   4   1   3    4   0   2   2   4   4   62.5
2   2   3   4   2    4   2   1   3   2   4   67.5
3   3   4   3   3    3   3   3   3   3   3   77.5
4   3   4   4   3    3   3   3   3   4   3   82.5

In [5]:
### For archetype A ###
# Filter 
filtered_sus_df = sus_df[sus_df['user_archetype'] == 'a']
# Filter 
filtered_sus_df = filtered_sus_df.iloc[:, 2:]
# Select columns with even and odd indices
odd_index_columns = filtered_sus_df.iloc[:, ::2]
even_index_columns = filtered_sus_df.iloc[:, 1::2]
# Subtract 1 from odd_index_columns
odd_index_columns = odd_index_columns - 1
# Subtract from 5 for even_index_columns
even_index_columns = 5 - even_index_columns
# Combine
processed_sus_df = even_index_columns.join(odd_index_columns)
# Sum
processed_sus_df['score'] = processed_sus_df.sum(axis=1)*2.5
# Average
print(processed_sus_df['score'].mean())
# Std
print(processed_sus_df['score'].std())

73.33333333333333
8.036375634160796

In [6]:
### For archetype B ###
# Filter 
filtered_sus_df = sus_df[sus_df['user_archetype'] == 'b']
# Filter 
filtered_sus_df = filtered_sus_df.iloc[:, 2:]
# Select columns with even and odd indices
odd_index_columns = filtered_sus_df.iloc[:, ::2]
even_index_columns = filtered_sus_df.iloc[:, 1::2]
# Subtract 1 from odd_index_columns
odd_index_columns = odd_index_columns - 1
# Subtract from 5 for even_index_columns
even_index_columns = 5 - even_index_columns
# Combine
processed_sus_df = even_index_columns.join(odd_index_columns)
# Sum
processed_sus_df['score'] = processed_sus_df.sum(axis=1)*2.5
# Average
print(processed_sus_df['score'].mean())
# Std
print(processed_sus_df['score'].std())

70.0
10.606601717798213